PORT=3001

RETELL_API_KEY=replace_with_retell_api_key
RETELL_AGENT_ID=replace_with_retell_agent_id
RETELL_PHONE_NUMBER=replace_with_retell_phone_number

ZOHO_CLIENT_ID=replace_with_zoho_client_id
ZOHO_CLIENT_SECRET=replace_with_zoho_client_secret
ZOHO_ACCOUNTS_URL=https://accounts.zoho.in
ZOHO_API_DOMAIN=https://www.zohoapis.in
ZOHO_REFRESH_TOKEN=replace_with_zoho_refresh_token

AI_PROVIDER=openrouter
AI_API_KEY=replace_with_ai_api_key
AI_MODEL=replace_with_ai_model
AI_API_URL=

ZOHO_FIELD_CALL_TRIGGER=Automation
ZOHO_FIELD_LEAD_STATUS=Lead_Status
ZOHO_FIELD_CALL_STATUS=Call_Status
ZOHO_FIELD_LEAD_SCORE=Lead_Score
ZOHO_FIELD_RIGHT_PERSON=Right_Person
ZOHO_FIELD_INTEREST_LEVEL=Interest_Level
ZOHO_FIELD_OUTCOME=Outcome
ZOHO_FIELD_OBJECTION_REASON=
ZOHO_FIELD_CALL_SUMMARY=Call_Summary
ZOHO_FIELD_NEXT_ACTION=Next_Action
ZOHO_FIELD_NEXT_ACTION_DATE=Next_Action_Date
ZOHO_CALL_IN_PROGRESS_VALUE=Call In Progress
ZOHO_CALL_COMPLETED_VALUE=Call Completed
ZOHO_CALL_FAILED_VALUE=Call Failed
